<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-12-28T21:42:31Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/Bigger/Users/maury/Desktop/OpenNEC/OpenNEC.xcodeproj</string>
</dict>
</plist>
